@model EasyTrainTickets3.WebUI.Models.BuyTicketSummaryPriceViewModel

@{
    ViewBag.Title = "Wybierz sposób rezerwacji";
}
<div class="panel-success">
    <div class="panel-heading text-center"><h2>@ViewBag.Title</h2></div>
    <div class="panel-body">
        @foreach (var s in Model.Way)
        {
            <pre>@s</pre>
        }
        <div class="row" style="font-size: 24px">Cena: @Model.Price zł </div>

        @using (Html.BeginForm("RandomSeats", "BuyTicket"))
        {
            @Html.Hidden("dictDiscount", Model.ListDiscount)
            @Html.Hidden("conIds", Model.ConIds)
            @Html.Hidden("Price", Model.Price)
            <div class="col-lg-2 col-lg-offset-2">
                <input class="btn btn-success" type="submit" value="Losowy wybór miejsca" />
            </div>
        }
        @using (Html.BeginForm("PrepareReserveSeats", "BuyTicket"))
        {
            @Html.Hidden("dictDiscount", Model.ListDiscount)
            @Html.Hidden("conIds", Model.ConIds)
            @Html.Hidden("Price", Model.Price)
            <div class="col-lg-2 col-lg-offset-3">
                <input class="btn btn-success" type="submit" value="Ręczny wybór miejsca" />
            </div>
        }
    </div>
</div>
