@model EasyTrainTickets.Domain.Services.ConnectionPath


<div class="row connection">
    <div class="row">
        <div class="col-lg-2">
            @Model.StartStation
        </div>
        <div class="col-lg-2">
            @Model.StartTime.ToShortDateString()
        </div>
        <div class="col-lg-1">
            @Model.StartTime.ToShortTimeString()
        </div>
        <div class="col-lg-2">
            Czas podróży:
        </div>
        <div class="col-lg-2">
            Przesiadki:  @Model.Changes
        </div>
        <div class="col-lg-2">
            @for (int i = 0; i < Model.Connections.Count; i++)
            {
                <img src="@Model.SourcePictures[i]" title="@Model.Connections[i].Name" />
            }
        </div>   
    @using (Html.BeginForm("Index", "BuyTicket"))
    {
        <div class="col-lg-1">
            @Html.Hidden("conIds", Model.JsonString)

            <input class="btn btn-success" type="submit" disabled=@(DateTime.Now.AddHours(1)>Model.StartTime) value="Zakup bilet" />
        </div>
    }
    </div>
    <div class="row">
        <div class="col-lg-2">
            @Model.EndStation
        </div>
        <div class="col-lg-2">
        </div>
        <div class="col-lg-1">
            @Model.EndTime.ToShortTimeString()
        </div>
        <div class="col-lg-2">
            @string.Format("{0}:{1:00} h",Model.JourneyTime.Hours,Model.JourneyTime.Minutes)
        </div>
        <div class="col-lg-2">
            Cena:  @Model.Price zł
        </div>
    </div>
 </div>
<div class="row details">
    @foreach(var s in Model.Way)
    {
        <pre>@s</pre>
    }
</div>
<hr />